archiving/0.4/rng/JATS-archivecustom-models0.ent.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= -->
<!-- MODULE:    Journal Archiving DTD Customize Content and -->
<!-- Attributes Module -->
<!-- VERSION:   NISO 0.4 -->
<!-- DATE:      January 2011 -->
<!---->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- PUBLIC DOCUMENT TYPE DEFINITION -->
<!-- TYPICAL INVOCATION -->
<!--
  "-//NLM//DTD JATS (Z39.96) Journal Archiving DTD Customize Content and Attributes Module v0.4 20110131//EN"
  Delivered as file "JATS-archivecustom-models0.ent"
-->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- SYSTEM:     Journal Archiving and Interchange DTD of the -->
<!-- Archiving and Interchange DTD Suite -->
<!---->
<!-- PURPOSE:    To declare the Parameter Entities (PEs) used to -->
<!-- over-ride content models or parts of content -->
<!-- models when making a new DTD from the modules of -->
<!-- the Archiving and Interchange DTD Suite. -->
<!---->
<!-- Or-groups within models should use mixes or -->
<!-- classes rather than name elements directly. -->
<!---->
<!-- Note: Since PEs must be declared before they -->
<!-- are used, this module must be called before the -->
<!-- content modules that declare elements. -->
<!---->
<!-- CONTAINS:   1) PEs that define OR lists of elements to be -->
<!-- mixed with #PCDATA in element content models -->
<!-- (all PEs are named "yyy-elements", where "yyy" -->
<!-- is the name of the primary element whose -->
<!-- content model will use the declared PE.) -->
<!-- 2) PEs that define complete content models. -->
<!-- (names ending in the suffix "-model") -->
<!-- 3) PEs that define attribute list or attribute -->
<!-- value over-rides -->
<!---->
<!-- CREATED FOR: -->
<!-- Digital archives and publishers who wish to -->
<!-- create a custom XML DTD for original markup of -->
<!-- journal literature, books, and related material, -->
<!-- or for archiving and transferring such material -->
<!-- between archives. -->
<!---->
<!-- This DTD is in the public domain. An organization -->
<!-- that wishes to create its own DTD from the suite -->
<!-- may do so without permission from NLM. -->
<!---->
<!-- The suite has been set up to be extended using a -->
<!-- new DTD file and a new DTD-specific customization -->
<!-- module to redefine the many Parameter Entities. -->
<!-- Do not modify the suite directly or redistribute -->
<!-- modified versions of the suite. -->
<!---->
<!-- In the interest of maintaining consistency and -->
<!-- clarity for potential users, NLM requests: -->
<!---->
<!-- 1. If you create a DTD from the Archiving and -->
<!-- Interchange DTD Suite and intend to stay -->
<!-- compatible with the suite, then please include -->
<!-- the following statement as a comment in all of -->
<!-- your DTD modules: -->
<!-- "Created from, and fully compatible with, -->
<!-- the NISO Z39.96 Journal Article Tag Suite -->
<!-- (JATS)." -->
<!---->
<!-- 2. If you alter one or more modules of the suite, -->
<!-- then please rename your version and all its -->
<!-- modules to avoid any confusion with the -->
<!-- original suite. Also, please include the -->
<!-- following statement as a comment in all your -->
<!-- DTD modules: -->
<!-- "Based in part on, but not fully compatible -->
<!-- with, the NISO Z39.96 Journal Article Tag -->
<!-- Suite." -->
<!---->
<!-- ORIGINAL CREATION DATE: -->
<!-- August 2004 -->
<!---->
<!-- CREATED BY: Deborah Lapeyre (Mulberry Technologies, Inc.) -->
<!-- B. Tommie Usdin (Mulberry Technologies, Inc.) -->
<!---->
<!-- Suggestions for refinements and enhancements to -->
<!-- this DTD should be sent in email to: -->
<!-- jats@ncbi.nlm.nih.gov -->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- DTD VERSION/CHANGE HISTORY -->
<!-- ============================================================= -->
<!--
  
  Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)
  
       =============================================================
       Version 0.4                       (DAL/BTU) v0.4 (2011-01-31)
  
       This Tag Set is in the process of becoming a NISO standard.
       The version numbers are starting over from 0.4", as a Trial
       Use Draft, to be made into "Version 1.0" when the Tag Suite 
       becomes a NISO standard. Thus, NLM "Version 3.1 Draft" has 
       been changed to NISO "Version 0.4". No model, attribute, or
       parameter entity changes were made as part of this renaming.
  
       Details on NISO Tial Use Draft Version 0.4 are available at
             http://jats.nlm.nih.gov/JATS-0.4.
  
   10. Updated the public identifier to "v0.4 20110131//EN", 
       modified the formal public identifier to include "JATS (Z39.96)",
       and the filename as delivered to include "JATS" and the
       new version number "0".
  
       =============================================================
       Version 3.1                       (DAL/BTU) v3.1 (2010-04-30)
  
       Version 3.1 is fully compatible with Version 3.0.
  
       Details on version 3.1 are available at
             http://jats.nlm.nih.gov/3.1.
  
    9. XREF ATTRIBUTES - Removed the %xref-atts PE from this module
       since the regular version (in xlink3.ent) was equally inclusive.
  
    8. ISSUE - Allowed to repeat inside <article-meta>
  
    7. AFFILIATION ALTERNATIVES - Added the element <aff-alternatives>
       to <article-meta> through %article meta-model;. This element
       will hold multiple <aff>s that are a representation of a
       single affiliation, for example, the name of an institution
       in two languages or two scripts.
  
    6. PERSON-GROUP - Became a mixed-content model, so the parameter
       entity %person-group-model: was changed to
       %person-group-elements;, which will be mixed with #PCDATA
       as defined in references.ent. The PE person-group-model has
       been retained in references.ent for compatibility, but has been
       set to the mixed model using person-group-elements.
  
    5. @SPECIFIC-USE and @XML:LANG - Added the @specific-use and
       @xml:lang to %display-atts;. Also added these attributes
       to the following over-rides:
        - article-id through article-id-atts (@specific-user only)
        - award-id through award-id-atts (both)
        - date through date-atts (@specific-use only)
        - funding-statement through funding-statement-atts (both)
        - pub-id through pub-id-atts (@specific-use only)
        - trans-title through pub-id-atts (@specific-use only;
           @xml:lang already)
        - xref through xref-atts (both)
  
    3. STRING-DATE - Added <string-date> back to the following
       elements using %citation-additions.class;. It was accidentally
       deleted during the 3.0 revision of references.class:
        - product         (%product-elements;)
        - related-article (%related-article-elements;)
        - related-object  (%related-object-elements;)
        - funding-statement through funding-statement-atts (both)
  
    2. Updated public identifier to "v3.1 20100830//EN"
  
       =============================================================
       Version 3.0                       (DAL/BTU) v3.0 (2007-10-31)
  
       Version 3.0 is the first non-backward-compatible release.
       In addition to the usual incremental changes, some
       elements and attributes have been renamed and/or remodeled
       to better meet user needs and to increase tag set consistency.
       All module change histories are available through the Tag Suite
       web site at http://dtd.nlm.nih.gov.
  
       Details on version 3.0 are available at
             http://jats.nlm.nih.gov/3.0.
  
    1. Updated public identifier to "v3.0 20080202//EN"
-->
<!-- ============================================================= -->
<!-- INLINE MIXES TO OVER-RIDE CONTENT MODELS -->
<!--                     (ELEMENTS TO BE ADDED TO #PCDATA IN MODELS) -->
<!-- ============================================================= -->
<!-- ABBREVIATION ELEMENTS -->
<!--
  The elements that can be included along with
  data characters inside the content model of
  the <abbrev> element
-->
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <define name="abbrev-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="def.class"/>
    </choice>
  </define>
  <!-- ACCESS DATE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the Access Date <access-date> element
  -->
  <define name="access-date-elements">
    <choice>
      <ref name="date-parts.class"/>
      <ref name="x.class"/>
    </choice>
  </define>
  <!-- AFFILIATION ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <aff> element
  -->
  <define name="aff-elements">
    <choice>
      <ref name="address.class"/>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
      <ref name="label.class"/>
    </choice>
  </define>
  <!-- ANONYMOUS ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    an <anonymous> element
  -->
  <define name="anonymous-elements">
    <ref name="all-phrase"/>
  </define>
  <!-- ARTICLE TITLE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <article-title> element.
  -->
  <define name="article-title-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
    </choice>
  </define>
  <!-- CHEMICAL STRUCTURE ELEMENTS -->
  <!--
    Those elements that may mix with the data
    characters inside a Chemical Structure
    <chem-struct>
  -->
  <define name="chem-struct-elements">
    <choice>
      <ref name="access.class"/>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
      <ref name="id.class"/>
      <ref name="label.class"/>
      <ref name="list.class"/>
      <ref name="simple-display-noalt.class"/>
    </choice>
  </define>
  <!-- CITATION ELEMENTS -->
  <!--
    Content for both types of citation. These
    elements may be mixed with #PCDATA in the
    <mixed-citation> element (in which all
    punctuation and spacing are left intact), and
    they also constitute the choices that can be
    used to form the all-element-content of the
    <element-citation> element (in which
    punctuation and spacing are removed).
    Design Note: All inline mixes begin with an
    OR bar.
  -->
  <define name="citation-elements">
    <choice>
      <ref name="article-link.class"/>
      <ref name="appearance.class"/>
      <ref name="citation-additions.class"/>
      <ref name="emphasis.class"/>
      <ref name="inline-display.class"/>
      <ref name="inline-math.class"/>
      <ref name="label.class"/>
      <ref name="math.class"/>
      <ref name="phrase.class"/>
      <ref name="references.class"/>
      <ref name="simple-link.class"/>
      <ref name="subsup.class"/>
      <ref name="x.class"/>
    </choice>
  </define>
  <!-- COLLABORATIVE (GROUP) AUTHOR ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <collab> element. This is essentially
    %all-phrase; plus contrib-info and break.
    All-phase is not used because of
    duplication clashes with the
    -contrib-info.class;
  -->
  <define name="collab-elements">
    <choice>
      <ref name="article-link.class"/>
      <ref name="address.class"/>
      <ref name="appearance.class"/>
      <ref name="break.class"/>
      <ref name="contrib-group.class"/>
      <ref name="contrib-info.class"/>
      <ref name="emphasis.class"/>
      <ref name="inline-display.class"/>
      <ref name="inline-math.class"/>
      <ref name="math.class"/>
      <ref name="phrase.class"/>
      <ref name="subsup.class"/>
      <ref name="x.class"/>
    </choice>
  </define>
  <!-- COMPOUND KEYWORD PART ELEMENTS -->
  <!--
    Elements to be mixed with data characters
    inside the <compound-kwd-part> element
  -->
  <define name="compound-kwd-part-elements">
    <choice>
      <ref name="break.class"/>
      <ref name="all-phrase"/>
    </choice>
  </define>
  <!-- CONFERENCE MODEL -->
  <!-- Content model for the <conference> element -->
  <define name="conference-model">
    <zeroOrMore>
      <choice>
        <ref name="conference.class"/>
        <ref name="x.class"/>
      </choice>
    </zeroOrMore>
  </define>
  <!-- CONFERENCE DATE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <conf-date> element
  -->
  <define name="conf-date-elements">
    <choice>
      <ref name="date-parts.class"/>
      <ref name="x.class"/>
    </choice>
  </define>
  <!-- COMMENT ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the Comment in a Citation <comment> element.
    Design Note: All inline mixes begin with an
    OR bar, but since %simple-phrase; is an
    inline mix, the OR bar is already there.
  -->
  <define name="comment-elements">
    <ref name="all-phrase"/>
  </define>
  <!-- COPYRIGHT HOLDER ELEMENTS -->
  <!--
    Elements to be mixed with data characters
    inside the content model for the
    <copyright-holder> element.
  -->
  <define name="copyright-holder-elements">
    <choice>
      <ref name="subsup.class"/>
      <ref name="x.class"/>
    </choice>
  </define>
  <!-- COPYRIGHT STATEMENT ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <copyright-statement>
  -->
  <define name="copyright-statement-elements">
    <ref name="all-phrase"/>
  </define>
  <!-- CORRESPONDENCE INFORMATION ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the correspondence information.
  -->
  <define name="corresp-elements">
    <choice>
      <ref name="address.class"/>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
      <ref name="label.class"/>
    </choice>
  </define>
  <!-- COUNTRY ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the country element.
  -->
  <define name="country-elements">
    <ref name="x.class"/>
  </define>
  <!-- DATE IN CITATION ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the Date Inside Citation <date-in-citation>
    element
  -->
  <define name="date-in-citation-elements">
    <choice>
      <ref name="date-parts.class"/>
      <ref name="emphasis.class"/>
      <ref name="x.class"/>
    </choice>
  </define>
  <!-- FORMULA, DISPLAY ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <disp-formula>
  -->
  <define name="disp-formula-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="access.class"/>
      <ref name="break.class"/>
      <ref name="display-back-matter.class"/>
      <ref name="label.class"/>
      <ref name="simple-display-noalt.class"/>
    </choice>
  </define>
  <!-- EMAIL ADDRESS ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <email> element
  -->
  <define name="email-elements">
    <ref name="all-phrase"/>
  </define>
  <!-- ET AL ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    an <etal> element
  -->
  <define name="etal-elements">
    <ref name="all-phrase"/>
  </define>
  <!-- EXTERNAL LINK ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    an <ext-link>
  -->
  <define name="ext-link-elements">
    <ref name="all-phrase"/>
  </define>
  <!-- FUNDING STATEMENT ELEMENTS -->
  <!-- Model for the <funding-statement> element -->
  <define name="funding-statement-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="funding.class"/>
    </choice>
  </define>
  <!-- HISTORY ELEMENTS -->
  <!--
    Elements that may be mixed with data
    characters inside the model for <history>
    when <history> is modeled as a mixed content
    element.
  -->
  <define name="history-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
      <ref name="date.class"/>
    </choice>
  </define>
  <!-- FORMULA, INLINE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <inline-formula> element.
  -->
  <define name="inline-formula-elements">
    <ref name="all-phrase"/>
  </define>
  <!-- INLINE SUPPLEMENTARY MATERIAL ELEMENTS -->
  <!--
                        The elements that can be included along with
    data characters inside the content model of
    the <inline-supplementary-material> element
  -->
  <define name="inline-supplementary-material-elements">
    <choice>
      <ref name="access.class"/>
      <ref name="all-phrase"/>
    </choice>
  </define>
  <!-- INSTITUTION NAME ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <institution> element
  -->
  <define name="institution-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
    </choice>
  </define>
  <!-- ISBN ELEMENTS -->
  <!--
    Elements for use with data characters inside
    the model for the <isbn> element
  -->
  <define name="isbn-elements">
    <ref name="x.class"/>
  </define>
  <!-- ISSN ELEMENTS -->
  <!--
    Elements for use with data characters inside
    the model for the <issn> element
  -->
  <define name="issn-elements">
    <ref name="x.class"/>
  </define>
  <!-- ISSUE TITLE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <issue-title> element
  -->
  <define name="issue-title-elements">
    <ref name="all-phrase"/>
  </define>
  <!-- KEYWORD CONTENT ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a keyword.
  -->
  <define name="kwd-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
    </choice>
  </define>
  <!-- LABEL ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <label> element
  -->
  <define name="label-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
    </choice>
  </define>
  <!-- LINK ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    linking element such as <xref>, <target>,
    and <ext-link>
  -->
  <define name="link-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
    </choice>
  </define>
  <!-- LONG DESCRIPTION ELEMENTS -->
  <!--
    Elements to be mixed with data characters
    inside the <long-desc> element
  -->
  <define name="long-desc-elements">
    <ref name="x.class"/>
  </define>
  <!-- METADATA DATA NAME ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <meta-name> element
  -->
  <define name="meta-name-elements">
    <ref name="all-phrase"/>
  </define>
  <!-- METADATA DATA VALUE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <meta-value> element
  -->
  <define name="meta-value-elements">
    <ref name="all-phrase"/>
  </define>
  <!-- NAMED CONTENT ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <named-content> element
  -->
  <define name="named-content-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="block-display-noalt.class"/>
      <ref name="block-math.class"/>
      <ref name="list.class"/>
      <ref name="rest-of-para.class"/>
    </choice>
  </define>
  <!-- PARAGRAPH ELEMENTS -->
  <!--
    Elements that may be used within a paragraph
    in a mixed content model with #PCDATA.
    Design Note: There is a major overlap between
    this parameter entity and the mix for elements
    that are at the same level as a paragraph.
    Inline elements appear only inside a
    paragraph, but block elements such as quotes
    and lists may appear either within a
    paragraph or at the same level as a
    paragraph. This serves a requirement in a
    repository DTD, since some incoming material
    will have restricted such elements to only
    inside a paragraph, some incoming material
    will have restricted them to only outside a
    paragraph and some may allow them in both
    places. Thus the DTD must allow for them to
    be in either or both.
  -->
  <define name="p-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="block-display-noalt.class"/>
      <ref name="block-math.class"/>
      <ref name="citation.class"/>
      <ref name="funding.class"/>
      <ref name="list.class"/>
      <ref name="rest-of-para.class"/>
    </choice>
  </define>
  <!-- PERSON GROUP ELEMENTS -->
  <!--
                        Elements to be mixed with #PCDATA characters
    within the Person Group element
    (name class include <string-name> in this
    tag set.
  -->
  <define name="person-group-elements">
    <choice>
      <ref name="name.class"/>
      <ref name="person-group-info.class"/>
      <ref name="x.class"/>
    </choice>
  </define>
  <!-- PREFORMATTED TEXT ELEMENTS -->
  <!--
    Elements that may be used, along with data
    characters, inside the content model for the
    <preformat> element, in which white space,
    such as tabs, line feeds, and spaces will
    be preserved.
  -->
  <define name="preformat-elements">
    <choice>
      <ref name="access.class"/>
      <ref name="all-phrase"/>
      <ref name="display-back-matter.class"/>
    </choice>
  </define>
  <!-- PRODUCT ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <product> element
    (Note: all-phrase was replicated and not
    used directly because the article-link.class
    elements are repeated in -references.class
    and therefore cause duplication.
  -->
  <define name="product-elements">
    <choice>
      <ref name="article-link.class"/>
      <ref name="appearance.class"/>
      <ref name="break.class"/>
      <ref name="citation-additions.class"/>
      <ref name="emphasis.class"/>
      <ref name="inline-display.class"/>
      <ref name="inline-math.class"/>
      <ref name="label.class"/>
      <ref name="math.class"/>
      <ref name="phrase.class"/>
      <ref name="price.class"/>
      <ref name="references.class"/>
      <ref name="simple-link.class"/>
      <ref name="subsup.class"/>
      <ref name="x.class"/>
    </choice>
  </define>
  <!-- PUBLISHER'S LOCATION ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <publisher-loc> element
  -->
  <define name="publisher-loc-elements">
    <choice>
      <ref name="address.class"/>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
    </choice>
  </define>
  <!-- RELATED ARTICLE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <related-article> element.
    (Note: all-phrase was replicated and not
    used directly because the article-link.class
    elements are repeated in -references.class
    and therefore cause duplication.)
  -->
  <define name="related-article-elements">
    <choice>
      <ref name="article-link.class"/>
      <ref name="appearance.class"/>
      <ref name="break.class"/>
      <ref name="citation-additions.class"/>
      <ref name="emphasis.class"/>
      <ref name="inline-display.class"/>
      <ref name="inline-math.class"/>
      <ref name="journal-id.class"/>
      <ref name="label.class"/>
      <ref name="math.class"/>
      <ref name="phrase.class"/>
      <ref name="references.class"/>
      <ref name="simple-link.class"/>
      <ref name="subsup.class"/>
      <ref name="x.class"/>
    </choice>
  </define>
  <!-- RELATED OBJECT ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <related-object> element.
    (Note: all-phrase was replicated and not
    used directly because the article-link.class
    elements are repeated in -references.class
    and therefore cause duplication.)
  -->
  <define name="related-object-elements">
    <choice>
      <ref name="article-link.class"/>
      <ref name="appearance.class"/>
      <ref name="break.class"/>
      <ref name="citation-additions.class"/>
      <ref name="emphasis.class"/>
      <ref name="inline-display.class"/>
      <ref name="inline-math.class"/>
      <ref name="label.class"/>
      <ref name="math.class"/>
      <ref name="phrase.class"/>
      <ref name="references.class"/>
      <ref name="simple-link.class"/>
      <ref name="subsup.class"/>
      <ref name="x.class"/>
    </choice>
  </define>
  <!-- ROLE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <role>
    Design Note: All inline mixes begin with an
    OR bar; since %rendition-plus; is an
    inline mix, the OR bar is already there.
  -->
  <define name="role-elements">
    <ref name="all-phrase"/>
  </define>
  <!-- TEXTUAL FORM ELEMENTS -->
  <!--
    Model for the <textual-form> element.
    Added <label>
  -->
  <define name="textual-form-elements">
    <choice>
      <ref name="emphasis.class"/>
      <ref name="inline-display-noalt.class"/>
      <ref name="label.class"/>
      <ref name="math.class"/>
      <ref name="phrase-content.class"/>
      <ref name="subsup.class"/>
    </choice>
  </define>
  <!-- SELF-URI ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <self-uri> element
  -->
  <define name="self-uri-elements">
    <ref name="all-phrase"/>
  </define>
  <!-- SIGNATURE BLOCK ELEMENTS -->
  <!--
    Elements to be mixed with data characters
    inside the content model for the
    <sig-block> element.
  -->
  <define name="sig-block-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
      <ref name="contrib.class"/>
      <ref name="just-base-display-noalt.class"/>
      <ref name="person-group-info.class"/>
      <ref name="sig.class"/>
    </choice>
  </define>
  <!-- SIGNATURE ELEMENTS -->
  <!--
    Elements to be mixed with data characters
    inside the content model for the
    <sig> element.
  -->
  <define name="sig-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
      <ref name="just-base-display-noalt.class"/>
    </choice>
  </define>
  <!-- SIZE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the size element.
  -->
  <define name="size-elements">
    <ref name="x.class"/>
  </define>
  <!-- SOURCE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <source> element
  -->
  <define name="source-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
    </choice>
  </define>
  <!-- SPEAKER ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a speaker.
  -->
  <define name="speaker-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="person-name.class"/>
    </choice>
  </define>
  <!-- STRING DATE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <string-date> element
  -->
  <define name="string-date-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="date-parts.class"/>
    </choice>
  </define>
  <!-- STRING NAME ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <string-name> element
  -->
  <define name="string-name-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="person-name.class"/>
    </choice>
  </define>
  <!-- STRUCTURAL TITLE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <title> element
  -->
  <define name="struct-title-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
      <ref name="citation.class"/>
    </choice>
  </define>
  <!-- STYLED CONTENT ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <styled-content> element
  -->
  <define name="styled-content-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="block-display-noalt.class"/>
      <ref name="block-math.class"/>
      <ref name="list.class"/>
      <ref name="rest-of-para.class"/>
    </choice>
  </define>
  <!-- SUBJECT GROUPING NAME ELEMENTS -->
  <!--
    Elements that may be used, along with data
    characters inside the content model of the
    <subject> element
  -->
  <define name="subject-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
    </choice>
  </define>
  <!-- DEFINITION LIST: TERM ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <term>.
  -->
  <define name="term-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="block-math.class"/>
      <ref name="chem-struct-wrap.class"/>
      <ref name="simple-display-noalt.class"/>
    </choice>
  </define>
  <!-- TIME STAMP ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <time-stamp>.
  -->
  <define name="time-stamp-elements">
    <ref name="x.class"/>
  </define>
  <!-- TITLE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    title elements such as <title>, <subtitle>,
    <trans-title>, etc.
  -->
  <define name="title-elements">
    <choice>
      <ref name="all-phrase"/>
      <ref name="break.class"/>
    </choice>
  </define>
  <!-- X ELEMENTS -->
  <!-- Elements for use inside the <x> element -->
  <define name="x-elements">
    <choice>
      <ref name="emphasis.class"/>
      <ref name="phrase-content.class"/>
      <ref name="subsup.class"/>
      <ref name="x.class"/>
    </choice>
  </define>
  <!-- ============================================================= -->
  <!-- DUPLICATES NEEDED FOR OVER-RIDES -->
  <!-- (models unchanged from common.ent but -->
  <!-- needed below) -->
  <!-- ============================================================= -->
  <!-- MIGHT LINK XLINK ATTRIBUTES -->
  <!--
    Used for elements which may need to link to
    external sources or other objects within
    the document, but may not necessarily act
    as a link at all.  The attribute
    "xlink:href" identifies the object to which
    the link points.
  -->
  <define name="might-link-atts">
    <optional>
      <attribute name="xlink:type" a:defaultValue="simple">
        <value>simple</value>
      </attribute>
    </optional>
    <optional>
      <attribute name="xlink:href"/>
    </optional>
    <optional>
      <attribute name="xlink:role"/>
    </optional>
    <optional>
      <attribute name="xlink:title"/>
    </optional>
    <optional>
      <attribute name="xlink:show">
        <choice>
          <value>embed</value>
          <value>new</value>
          <value>none</value>
          <value>other</value>
          <value>replace</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="xlink:actuate">
        <choice>
          <value>none</value>
          <value>onLoad</value>
          <value>onRequest</value>
          <value>other</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!-- CONTENT MODEL FOR AN UNTITLED SECTION -->
  <!--
    The model for a section-like structure that
    may or may not have an initial title
  -->
  <define name="sec-opt-title-model">
    <optional>
      <ref name="sec-meta"/>
    </optional>
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <zeroOrMore>
      <ref name="para-level"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="sec-level"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="sec-back-matter-mix"/>
    </zeroOrMore>
  </define>
  <!-- ============================================================= -->
  <!-- OVER-RIDES OF CONTENT MODELS (FULL MODELS) -->
  <!-- ============================================================= -->
  <!-- ARTICLE METADATA MODEL -->
  <!--
    Content model for the metadata that is
    specific to the article.
  -->
  <define name="article-meta-model">
    <zeroOrMore>
      <ref name="article-id"/>
    </zeroOrMore>
    <optional>
      <ref name="article-categories"/>
    </optional>
    <optional>
      <ref name="title-group"/>
    </optional>
    <zeroOrMore>
      <choice>
        <ref name="contrib-group.class"/>
        <ref name="aff-alternatives.class"/>
        <ref name="x.class"/>
      </choice>
    </zeroOrMore>
    <optional>
      <ref name="author-notes"/>
    </optional>
    <zeroOrMore>
      <ref name="pub-date"/>
    </zeroOrMore>
    <optional>
      <ref name="volume"/>
    </optional>
    <zeroOrMore>
      <ref name="volume-id"/>
    </zeroOrMore>
    <optional>
      <ref name="volume-series"/>
    </optional>
    <zeroOrMore>
      <ref name="issue"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="issue-id"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="issue-title"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="issue-sponsor"/>
    </zeroOrMore>
    <optional>
      <ref name="issue-part"/>
    </optional>
    <zeroOrMore>
      <ref name="isbn"/>
    </zeroOrMore>
    <optional>
      <ref name="supplement"/>
    </optional>
    <optional>
      <choice>
        <group>
          <optional>
            <ref name="fpage"/>
            <optional>
              <ref name="lpage"/>
            </optional>
          </optional>
          <optional>
            <ref name="page-range"/>
          </optional>
        </group>
        <ref name="elocation-id"/>
      </choice>
    </optional>
    <zeroOrMore>
      <choice>
        <ref name="address-link.class"/>
        <ref name="product"/>
        <ref name="supplementary-material"/>
      </choice>
    </zeroOrMore>
    <optional>
      <ref name="history"/>
    </optional>
    <optional>
      <ref name="permissions"/>
    </optional>
    <zeroOrMore>
      <ref name="self-uri"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="related-article"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="abstract"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="trans-abstract"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="kwd-group"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="funding-group"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="conference"/>
    </zeroOrMore>
    <optional>
      <ref name="counts"/>
    </optional>
    <optional>
      <ref name="custom-meta-group"/>
    </optional>
  </define>
  <!-- ADDRESS MODEL -->
  <!-- Content model for the <address> element -->
  <define name="address-model">
    <zeroOrMore>
      <choice>
        <ref name="address.class"/>
        <ref name="address-link.class"/>
        <ref name="label.class"/>
        <ref name="x.class"/>
      </choice>
    </zeroOrMore>
  </define>
  <!-- APPENDIX MODEL -->
  <!--
    Content model for the <app> element. The
    section model already contains parentheses.
    Made initial <title> optional.
  -->
  <define name="app-model">
    <ref name="sec-opt-title-model"/>
    <optional>
      <ref name="permissions"/>
    </optional>
  </define>
  <!-- AUTHOR NOTES MODEL -->
  <!-- Content model for an <author-notes> element. -->
  <define name="author-notes-model">
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <oneOrMore>
      <choice>
        <ref name="corresp.class"/>
        <ref name="fn-link.class"/>
        <ref name="just-para.class"/>
        <ref name="x.class"/>
      </choice>
    </oneOrMore>
  </define>
  <!-- CONTRIBUTOR GROUP MODEL -->
  <!--                     Content model for the <title-group> element -->
  <define name="contrib-group-model">
    <oneOrMore>
      <choice>
        <ref name="contrib.class"/>
        <ref name="contrib-info.class"/>
        <ref name="x.class"/>
      </choice>
    </oneOrMore>
  </define>
  <!-- CONTRIBUTOR MODEL -->
  <!-- Content model for the <contrib> element -->
  <define name="contrib-model">
    <zeroOrMore>
      <choice>
        <ref name="name.class"/>
        <ref name="degree.class"/>
        <ref name="contrib-info.class"/>
        <ref name="x.class"/>
      </choice>
    </zeroOrMore>
  </define>
  <!-- DEFINITION LIST: DEFINITION ITEM MODEL -->
  <!-- Content model of a <def-item> -->
  <define name="def-item-model">
    <optional>
      <ref name="label"/>
    </optional>
    <zeroOrMore>
      <ref name="term"/>
    </zeroOrMore>
    <zeroOrMore>
      <choice>
        <ref name="def.class"/>
        <ref name="x.class"/>
      </choice>
    </zeroOrMore>
  </define>
  <!-- DEFINITION LIST MODEL -->
  <!-- Content model for the <def-list> element -->
  <define name="def-list-model">
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <optional>
      <ref name="term-head"/>
    </optional>
    <optional>
      <ref name="def-head"/>
    </optional>
    <zeroOrMore>
      <choice>
        <ref name="def-item"/>
        <ref name="x.class"/>
      </choice>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="def-list"/>
    </zeroOrMore>
  </define>
  <!-- FOOTNOTE GROUP MODEL -->
  <!--
    Content model for the <fn-group> element
    Added an <x> as alternative to <fn>.
  -->
  <define name="fn-group-model">
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <oneOrMore>
      <choice>
        <ref name="fn-link.class"/>
        <ref name="x.class"/>
      </choice>
    </oneOrMore>
  </define>
  <!-- HISTORY MODEL -->
  <!-- Content model for the <history> element -->
  <define name="history-model">
    <zeroOrMore>
      <choice>
        <text/>
        <ref name="history-elements"/>
      </choice>
    </zeroOrMore>
  </define>
  <!-- KEYWORD GROUP MODEL -->
  <!-- Content model for a <kwd-group> element -->
  <define name="kwd-group-model">
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <choice>
      <oneOrMore>
        <choice>
          <ref name="kwd.class"/>
          <ref name="x.class"/>
        </choice>
      </oneOrMore>
      <ref name="unstructured-kwd-group"/>
    </choice>
  </define>
  <!-- LIST MODEL -->
  <!-- Content model for the <list> element -->
  <define name="list-model">
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <oneOrMore>
      <choice>
        <ref name="list-item"/>
        <ref name="x.class"/>
      </choice>
    </oneOrMore>
  </define>
  <!-- PUBLICATION DATE MODEL -->
  <!-- Content model for the element <pub-date> -->
  <define name="pub-date-model">
    <zeroOrMore>
      <choice>
        <ref name="day"/>
        <ref name="month"/>
        <ref name="year"/>
        <ref name="season"/>
        <ref name="string-date"/>
        <ref name="x"/>
      </choice>
    </zeroOrMore>
  </define>
  <!-- REFERENCE ITEM MODEL -->
  <!-- Content model for the <ref> element -->
  <define name="ref-model">
    <optional>
      <ref name="label"/>
    </optional>
    <oneOrMore>
      <choice>
        <ref name="citation.class"/>
        <ref name="note.class"/>
        <ref name="x.class"/>
      </choice>
    </oneOrMore>
  </define>
  <!-- REFERENCE LIST MODEL -->
  <!-- Content model for the <ref-list> element -->
  <define name="ref-list-model">
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <zeroOrMore>
      <choice>
        <ref name="para-level"/>
        <ref name="ref"/>
      </choice>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="ref-list.class"/>
    </zeroOrMore>
  </define>
  <!-- CONTENT MODEL FOR A STRUCTURAL SECTION -->
  <!-- The model for a Section <sec> -->
  <define name="sec-model">
    <optional>
      <ref name="sec-meta"/>
    </optional>
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <zeroOrMore>
      <ref name="para-level"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="sec-level"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="sec-back-matter-mix"/>
    </zeroOrMore>
  </define>
  <!-- TABLE WRAP FOOTER MODEL -->
  <!--
    Content model for the <table-wrap-foot>
    element
  -->
  <define name="table-wrap-foot-model">
    <optional>
      <ref name="label"/>
    </optional>
    <optional>
      <ref name="title"/>
    </optional>
    <oneOrMore>
      <choice>
        <ref name="just-para.class"/>
        <ref name="fn-group.class"/>
        <ref name="fn-link.class"/>
        <ref name="display-back-matter.class"/>
        <ref name="x.class"/>
      </choice>
    </oneOrMore>
  </define>
  <!-- ============================================================= -->
  <!-- OVER-RIDES OF ATTRIBUTE LISTS -->
  <!-- ============================================================= -->
  <!-- ARTICLE IDENTIFIER ATTRIBUTES -->
  <!-- Attributes for the <article-id> element -->
  <define name="article-id-atts">
    <optional>
      <attribute name="pub-id-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
  </define>
  <!-- AWARD IDENTIFIER ATTRIBUTES -->
  <!-- Attributes for the <award-group> element -->
  <define name="award-id-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="rid">
        <data type="IDREFS"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="award-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <ref name="might-link-atts"/>
  </define>
  <!-- FUNDING STATEMENT ATTRIBUTES -->
  <!--                     Attributes for the <funding-source> element -->
  <define name="funding-statement-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="rid">
        <data type="IDREFS"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <ref name="might-link-atts"/>
  </define>
  <!-- DATE (HISTORICAL) ATTRIBUTES -->
  <define name="date-atts">
    <optional>
      <attribute name="date-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
  </define>
  <!-- PUBLICATION IDENTIFIER ATTRIBUTES -->
  <!-- Attributes for the <pub-id> element -->
  <define name="pub-id-atts">
    <optional>
      <attribute name="pub-id-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
  </define>
  <!-- TRANSLATED TITLE GROUP ATTRIBUTES -->
  <!--
    Attribute list for the <trans-title-group>
    Made xml:lang optional.
  -->
  <define name="trans-title-group-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="content-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
</grammar>
<!-- ================== End Archiving Content/ATT Over-rides ===== -->
