archiving/0.4/dtd/JATS-archivearticle0.dtd

<!-- ============================================================= -->
<!--  MODULE:    Journal Archiving and Interchange DTD             -->
<!--  VERSION:   NISO 0.4                                          -->
<!--  DATE:      January 2011                                      -->
<!--                                                               -->
<!-- ============================================================= -->

<!-- ============================================================= -->
<!--                    PUBLIC DOCUMENT TYPE DEFINITION            -->
<!--                        TYPICAL INVOCATION                     -->
<!--
"-//NLM//DTD JATS (Z39.96) Journal Archiving and Interchange DTD v0.4 20110131//EN"
     Delivered as file "JATS-archivearticle0.dtd"
     Available at:
     http://jats.nlm.nih.gov/archiving/0.4/JATS-archivearticle0.dtd
                                                                   -->
<!-- ============================================================= -->


<!-- ============================================================= -->
<!-- SYSTEM:     Journal Archiving and Interchange DTD of the      -->
<!--             Archiving and Interchange DTD Suite               -->
<!--                                                               -->
<!-- PURPOSE:    DTD to describe a full-text journal article       -->
<!--                                                               -->
<!--             The Journal Archiving and Interchange DTD         -->
<!--             describes journal articles and some non-article   -->
<!--             material such as product and book reviews for     -->
<!--             repository or interchange purposes. It describes  -->
<!--             both the metadata for a journal article and the   -->
<!--             full content of the article.                      -->
<!--             This DTD was constructed using the modules in the -->
<!--             Archiving and Interchange DTD Suite, using almost -->
<!--             no customization.                                 -->
<!--                                                               -->
<!-- CONTAINS:   1) Declare and invoke the Archival (Green) DTD-   -->
<!--                specific module of modules, that names  any    -->
<!--                modules created expressly for this DTD.        -->
<!--                   (%archivecustom-modules.ent;)               -->
<!--             2) Declare and invoke the DTD Suite module of     -->
<!--                   modules (%modules.ent;), the Archiving and  -->
<!--                   Interchange Suite module that names all the -->
<!--                   Suite modules this DTD might invoke         -->
<!--             3) Invoke DTD-specific classes over-ride module   -->
<!--                               (%archivecustom-classes.ent;)   -->
<!--             4) Invoke Suite default classes                   -->
<!--                               (%default-classes.ent;)         -->
<!--             5) Invoke DTD-specific mixes over-ride module     -->
<!--                               (%archivecustom-mixes.ent;)     -->
<!--             6) Invoke Suite default mixes                     -->
<!--                               (%default-mixes.ent;)           -->
<!--             7) Invoke DTD-specific content model over-ride    -->
<!--                        module (%archivecustom-models.ent;)    -->
<!--             8) Invoke the Common Element Module (from Suite)  -->
<!--             9) Invoke all the Class Modules (from Suite) as   -->
<!--                    well as any DTD-specific element modules   -->
<!--            10) Parameter Entities for attribute values used   -->
<!--                 in this module (DTD-specific definitions)     -->
<!--            11) Define document element (Article <article>)    -->
<!--            12) Define Front Matter <front>                    -->
<!--            13) Define Body Matter <body>                      -->
<!--            14) Define Back Matter <back>                      -->
<!--                                                               -->
<!-- TAG SET SPONSOR                                               -->
<!--             Digital Archive of Journal Articles               -->
<!--             National Center for Biotechnology Information     -->
<!--                (NCBI)                                         -->
<!--             National Library of Medicine (NLM)                -->
<!--                                                               -->
<!-- CREATED FOR:                                                  -->
<!--             Digital archives and publishers who wish to       -->
<!--             create a custom XML DTD for original markup of    -->
<!--             journal literature, books, and related material,  -->
<!--             or for archiving and transferring such material   -->
<!--             between archives.                                 -->
<!--                                                               -->
<!--             This DTD is in the public domain. An organization -->
<!--             that wishes to create its own DTD from the suite  -->
<!--             may do so without permission from NLM.            -->
<!--                                                               -->
<!--             The suite has been set up to be extended using a  -->
<!--             new DTD file and a new DTD-specific customization -->
<!--             module to redefine the many Parameter Entities.   -->
<!--             Do not modify the suite directly or redistribute  -->
<!--             modified versions of the suite.                   -->
<!--                                                               -->
<!--             In the interest of maintaining consistency and    -->
<!--             clarity for potential users, NLM requests:        -->
<!--                                                               -->
<!--             1. If you create a DTD from the Archiving and     -->
<!--                Interchange DTD Suite and intend to stay       -->
<!--                compatible with the suite, then please include -->
<!--                the following statement as a comment in all of -->
<!--                your DTD modules:                              -->
<!--                   "Created from, and fully compatible with,   -->
<!--                    the NISO Z39.96 Journal Article Tag Suite  -->
<!--                    (JATS)."                                   -->
<!--                                                               -->
<!--             2. If you alter one or more modules of the suite, -->
<!--                then please rename your version and all its    -->
<!--                modules to avoid any confusion with the        -->
<!--                original suite. Also, please include the       -->
<!--                following statement as a comment in all your   -->
<!--                DTD modules:                                   -->
<!--                   "Based in part on, but not fully compatible -->
<!--                    with, the NISO Z39.96 Journal Article Tag  -->
<!--                    Suite."                                    -->
<!--                                                               -->
<!-- ORIGINAL CREATION DATE:                                       -->
<!--             December 2002                                     -->
<!--                                                               -->
<!-- CREATED BY: Jeff Beck       (NCBI)                            -->
<!--             Deborah Lapeyre (Mulberry Technologies, Inc.)     -->
<!--             Bruce Rosenblum (Inera Inc.)                      -->
<!--             B. Tommie Usdin (Mulberry Technologies, Inc.)     -->
<!--                                                               -->
<!--             The Journal Archiving and Interchange DTD is      -->
<!--             built from the Archiving and Interchange DTD      -->
<!--             Suite.                                            -->
<!--                                                               -->
<!--             NLM thanks the Harvard University Libraries, both -->
<!--             for proposing that a draft archiving NLM DTD for  -->
<!--             life sciences journals be extended to accommodate -->
<!--             journals in all disciplines and for sponsoring    -->
<!--             Bruce Rosenblum's collaboration with other DTD    -->
<!--             authors in completing NLM Version 1.0. The        -->
<!--             Andrew W. Mellon Foundation provided support for  -->
<!--             these important contributions.                    -->
<!--                                                               -->
<!--             Suggestions for refinements and enhancements to   -->
<!--             this DTD should be sent in email to:              -->
<!--                 jats@ncbi.nlm.nih.gov                         -->
<!-- ============================================================= -->


<!-- ============================================================= -->
<!--                    DTD VERSION/CHANGE HISTORY                 -->
<!-- ============================================================= -->
<!--

     =============================================================

Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)
   
     =============================================================
     Version 0.4                       (DAL/BTU) v0.4 (2011-01-31)
   
     This Tag Set is in the process of becoming a NISO standard.
     The version numbers are starting over from 0.4", as a Trial
     Use Draft, to be made into "Version 1.0" when the Tag Suite 
     becomes a NISO standard. Thus, NLM "Version 3.1 Draft" has 
     been changed to NISO "Version 0.4". No model, attribute, or
     parameter entity changes were made as part of this renaming.
   
     Details on NISO Tial Use Draft Version 0.4 are available at
           http://jats.nlm.nih.gov/JATS-0.4.
   
 11. Updated the DTD-version attribute to "0.4" 
   
 10. Updated the public identifier to "v0.4 20110131//EN", 
     modified the formal public identifier to include "JATS (Z39.96)",
     and the filename as delivered to include "JATS" and the
     new version number "0".

     =============================================================
     Version 3.1                       (DAL/BTU) v3.1 (2010-04-30)

     Version 3.1 is fully compatible with Version 3.0.

     Details on version 3.1 are available at
           http://jats.nlm.nih.gov/3.1.

  9. BODY ATTRIBUTES - Added attribute list and new PE %body-atts;
     to the model of <body>. The only current attribute is
     @specific-use, which indicates, for example, not a real
     tagged XML body, but a 'bag of words" for indexing purposes.

  8. KEYWORD GROUP - Made <kwd-group> repeatable inside
     <front-stub> by modifying %front-stub-model;

  7. I18N - Changed the default for @xml:lang from "en" to
     #IMPLIED, so that the @xml:lang would inherit properly and
     not need to be over-ridden in
      - <sub-article> through %sub-article-atts;
      - <response> through %response-atts;

  6. AFFILIATION ALTERNATIVES - Added the element <aff-alternatives>
     to <front-stub> through %front-stub-model;. This element
     will hold multiple <aff>s that are a representation of a
     single affiliation, for example, the name of an institution
     in two languages or two scripts.

  5. FRONT MATTER - Modified %front-model; to add the elements:
        ack | bio | fn-group | glossary (via %front.class;)
     to front matter content model.

  4. LANGUAGE CODES - Codes for languages as well as variants,
     transliterations, regions, scripts, and combinations
     such as "Jpan"(Han + Hiragana + Katakana). These values should be
     taken from RFC 5646/W3C/IANA Subtag Registry recommendations
     and can be found online at:
       http://www.iana.org/assignments/language-subtag-registry

  3. Updated public identifier to "v3.1 20100830//EN"


     =============================================================
     Version 3.0                       (DAL/BTU) v3.0 (2007-10-31)

     Version 3.0 is the first non-backward-compatible release.
     In addition to the usual incremental changes, some
     elements and attributes have been renamed and/or remodeled
     to better meet user needs and to increase tag set consistency.
     All module change histories are available through the Tag Suite
     web site at http://dtd.nlm.nih.gov.

     Details on version 3.0 are available at
           http://jats.nlm.nih.gov/3.0.

  2. Changed default @xml:lang from "EN" from "en" to match latest
     RFC 4646/W3C/IANA Subtag Registry recommendations

  1. Updated public identifier to "v3.0 20080202//EN"              -->


<!-- ============================================================= -->
<!--                    DESIGN CONSIDERATIONS                      -->
<!-- ============================================================= -->


<!-- MODULAR DTD LIBRARY
                        A set of journal archiving and interchange
                        DTD modules was written as the basis for
                        publishing, interchange, and repository
                        DTDs, with the intention that DTDs for
                        specific purposes, such as this Journal
                        Archiving and Interchange DTD, would be
                        developed based on them.

                        This archiving DTD has been designed to
                        be descriptive, open, and inclusive to
                        allow journal articles to be translated into
                        this format as conveniently as possible
                        from a wide variety of proprietary journal
                        article DTDs (such as Blackwell, Keton, and
                        Ovid).

                        This Archiving DTD has been developed from
                        the Archiving and Interchange DTD Suite
                        modules, in the approved manner, making
                        changes to the declarations in those modules
                        by over-riding Parameter Entity contents
                        by redefining the entities in the
                            %archivecustomize.ent;
                        module, which is called from this DTD file.
                        No changes to any of the original Archiving
                        and Interchange Suite modules are required
                        in order to use this DTD.                  -->


<!-- ============================================================= -->
<!--                    MODULES OF MODULES INVOKED                 -->
<!-- ============================================================= -->


<!--                    MODULE TO NAME DTD-SPECIFIC MODULES        -->
<!--                    Names all DTD-specific external modules    -->
<!ENTITY % archivecustom-modules.ent PUBLIC
"-//NLM//DTD JATS (Z39.96) Journal Archiving DTD-Specific Modules v0.4 20110131//EN"
"JATS-archivecustom-modules0.ent"                                    >
%archivecustom-modules.ent;


<!--                    MODULE TO NAME THE MODULES                 -->
<!--                    Declares all the external modules that are
                        part of the modular Journal Archiving and
                        Interchange DTD Suite library. Thus it does
                        NOT declare itself; the DTD-specific
                        module-of-modules; any DTD-specific class,
                        mix, or model over-ride modules; or any new
                        new content modules specific to this DTD.
                        Those are declared in the DTD-specific
                        module of modules.
                           Since this module declares but does not
                        invoke modules, this DTD then invokes any
                        modules it uses by referencing the external
                        Parameter Entities defined in the Module of
                        Modules. To include a set of elements (such
                        as all the lists or the MathML elements) this
                        module defines the external Parameter Entity
                        for the module(s) that contains the MathML
                        declarations and the DTD references that
                        entity.                                    -->
<!ENTITY % modules.ent PUBLIC
"-//NLM//DTD JATS (Z39.96) Archiving and Interchange DTD Suite Module of Modules v0.4 20110131//EN"
"JATS-modules0.ent"                                                  >
%modules.ent;


<!-- ============================================================= -->
<!--                    CUSTOMIZATION MODULES INVOKED              -->
<!--                    Note: These modules must be called after   -->
<!--                    all Module of Modules but before any other -->
<!--                    modules. Unlike any other grouping, order  -->
<!--                    of these modules matters.                  -->
<!-- ============================================================= -->


<!--                    DTD-SPECIFIC CLASS CUSTOMIZATIONS MODULE   -->
<!--                    Names the module that holds the DTD-specific
                        class definitions for the Journal Archiving
                        and Interchange DTD that over-rides the Suite
                        defaults.
                        (Defined in %archivecustom-modules.ent; )  -->
%archivecustom-classes.ent;


<!--                    DEFAULT ELEMENT CLASSES MODULE             -->
<!--                    Names the module that holds the standard
                        class definitions for the Journal Archiving
                        and Interchange DTD Suite.                 -->
%default-classes.ent;


<!--                    DTD-SPECIFIC MIX CUSTOMIZATIONS MODULE     -->
<!--                    Set up the Parameter Entities and element
                        class definitions that will be used to
                        over-ride some element mixes in this DTD.
                        (Defined in %archivecustom-modules.ent; )  -->
%archivecustom-mixes.ent;


<!--                    DEFAULT MIX CUSTOMIZATIONS MODULE          -->
<!--                    Names the module that holds the standard
                        mix definitions for the Journal Archiving
                        and Interchange DTD Suite.                 -->
%default-mixes.ent;


<!--                    DTD-SPECIFIC MODELS/ATTRIBUTES CUSTOMIZATIONS
                        MODULE                                     -->
<!--                    Names the module that holds the over-rides
                        of content models, attribute lists, elements
                        lists to be used in content models, and
                        attribute values. These are DTD-specific.
                        (Defined in %archivecustom-modules.ent; )  -->
%archivecustom-models.ent;


<!-- ============================================================= -->
<!--                    COMMON (SHARED) ELEMENTS MODULE INVOKED    -->
<!-- ============================================================= -->


<!--                    COMMON (SHARED) DECLARATIONS               -->
<!--                    Declarations for elements, attributes,
                        entities, and Notations that are shared by
                        more than one class module. Note: Must be
                        called before any of the class modules.    -->

%common.ent;


<!-- ============================================================= -->
<!--                    JOURNAL ARTICLE CLASS ELEMENTS (alpha)     -->
<!-- ============================================================= -->

<!--                    ARTICLE METADATA ELEMENTS                  -->
%articlemeta.ent;


<!--                    BACK MATTER ELEMENTS                       -->
%backmatter.ent;


<!--                    DISPLAY (GRAPHICAL) ELEMENTS               -->
%display.ent;


<!--                    FORMATTING ELEMENT CLASSES                 -->
<!--                    Elements that change rendition/display.    -->
%format.ent;


<!--                    FUNDING ELEMENTS                           -->
<!--                    Elements that describe the sponsorship or
                        open access                                -->
%funding.ent;


<!--                    JOURNAL METADATA ELEMENTS                  -->
%journalmeta.ent;


<!--                    LINK CLASS ELEMENTS                        -->
%link.ent;


<!--                    LIST CLASS ELEMENTS                        -->
%list.ent;


<!--                    MATH ELEMENTS                              -->
%math.ent;


<!--                    NLM CITATION ELEMENT                       -->
%nlmcitation.ent;


<!--                    PARAGRAPH-LEVEL ELEMENTS                   -->
%para.ent;


<!--                    PHRASE-LEVEL ELEMENTS                      -->
%phrase.ent;


<!--                    BIBLIOGRAPHIC REFERENCE (CITATION)
                        CLASS ELEMENTS                             -->
%references.ent;


<!--                    RELATED OBJECT ELEMENT                     -->
<!--                    Defines the <related-object> element to
                        describe a related object such as a
                        related book or a dataset.                 -->
%related-object.ent;


<!--                    SECTION ELEMENTS                           -->
%section.ent;


<!-- ============================================================= -->
<!--                    THE REST OF THE EXTERNAL MODULES INVOKED   -->
<!-- ============================================================= -->


<!--                    MATHML SETUP MODULE                        -->
<!--                    Invoke the MathML modules                  -->
%mathmlsetup.ent;



<!--                    XHTML TABLE SETUP MODULE                   -->
<!--                    Set up the necessary Parameter Entity values
                        and then invoke XHTML (HTML 4.0) table
                        module                                     -->
%XHTMLtablesetup.ent;


<!--                    SPECIAL CHARACTERS DECLARATIONS            -->
<!--                    Standard XML special character entities
                        used in this DTD                           -->
%xmlspecchars.ent;


<!--                    CUSTOM SPECIAL CHARACTERS DECLARATIONS     -->
<!--                    Custom special character entities created
                        specifically for use in this DTD Suite     -->
%chars.ent;


<!--                    NOTATION DECLARATIONS MODULE               -->
%notat.ent;


<!-- ============================================================= -->
<!--                    PARAMETER ENTITIES FOR ATTRIBUTE LISTS     -->
<!-- ============================================================= -->


<!--                    DTD VERSION                                -->
<!--                    What version of this DTD was used to make
                        the document instance under consideration.
                        Note that this is a fixed value that should
                        change every time the DTD changes versions or
                        revisions.                                 -->
<!ENTITY % dtd-version
            "dtd-version
                        CDATA                         #FIXED '0.4'"  >


<!--                    ARTICLE ATTRIBUTES                         -->
<!--                    Attributes for the top-level element
                        <article>                                  -->
<!ENTITY % article-atts
            "article-type
                        CDATA                             #IMPLIED
             specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           'en'
             %dtd-version;
             %XLINK.xmlns.attrib;
             %MATHML.xmlns.attrib;
             %Schema.xmlns.attrib;"                                  >


<!--                    BODY ATTRIBUTES                            -->
<!--                    Attributes for the <body> element          -->
<!ENTITY % body-atts
            "specific-use
                        CDATA                             #IMPLIED"  >


<!--                    SUB-ARTICLE ATTRIBUTES                     -->
<!--                    Attributes for the <sub-article> element   -->
<!ENTITY % sub-article-atts
            "article-type
                        CDATA                             #IMPLIED
             id         ID                                #IMPLIED
             specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED"  >


<!--                    RESPONSE ATTRIBUTES                        -->
<!--                    Attributes for the <response> element      -->
<!ENTITY % response-atts
            "response-type
                        CDATA                             #IMPLIED
             id         ID                                #IMPLIED
             specific-use
                        CDATA                             #IMPLIED
             xml:lang   NMTOKEN                           #IMPLIED"  >


<!-- ============================================================= -->
<!--                    JOURNAL ARTICLE ELEMENTS                   -->
<!-- ============================================================= -->


<!--                    ARTICLE MODEL (LIMITED)                    -->
<!--                    Article-like model used for, for example,
                        a short sub-article such as a news brief that
                        is contained in side a journal article.    -->
<!ENTITY % article-short-model
                        "((front | front-stub), body?, back?,
                          floats-group?)"                            >


<!--                    ARTICLE MODEL WITH SUBARTICLE OR RESPONSE  -->
<!--                    Typical journal article model, which may
                        contain extended components, such as
                        sub-articles or responses,                 -->
<!ENTITY % article-full-model
                        "(front, body?, back?, floats-group?,
                          (sub-article* | response*) )"              >


<!--                    ARTICLE                                    -->
<!--                    The complete content of a journal article.
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/0.4/index.html?elem=article
                                                                   -->
<!ELEMENT  article      %article-full-model;                         >
<!ATTLIST  article
             %article-atts;                                          >


<!-- ============================================================= -->
<!--                    FRONT MATTER ELEMENTS                      -->
<!-- ============================================================= -->


<!--                    FRONT MATTER MODEL                         -->
<!--                    Model for the <front> matter (the header
                        metadata) of a journal article)            -->
<!ENTITY % front-model  "(journal-meta?, article-meta,
                          (%list.class; | %front.class; |
                           %front-back.class;)* )"                   >


<!--                    FRONT MATTER                               -->
<!--                    The metadata concerning an article, such as
                        the name and issue of the journal in which it
                        appears and the name and author(s) of the
                        article.
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/0.4/index.html?elem=front
                                                                   -->
<!ELEMENT  front        %front-model;                                >


<!-- ============================================================= -->
<!--                    BODY ELEMENTS                              -->
<!-- ============================================================= -->


<!--                    BODY MODEL                                 -->
<!--                    Content model for the Body (main textual
                        content) of a journal article.             -->
<!ENTITY % body-model   "((%para-level;)*, (%sec-level;)*,
                          sig-block?)"                               >


<!--                    BODY OF THE ARTICLE                        -->
<!--                    The main textual portion of the article that
                        conveys the content.
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/0.4/index.html?elem=body
                                                                   -->
<!ELEMENT  body         %body-model;                                 >
<!ATTLIST  body
             %body-atts;                                             >


<!-- ============================================================= -->
<!--                    BACK MATTER ELEMENTS                       -->
<!-- ============================================================= -->


<!--                    BACK MATTER MODEL                          -->
<!--                    Content model for the Back Matter (ancillary
                        material such as appendices) of a journal
                        article.                                   -->
<!ENTITY % back-model   "(label?, title*,
                          (%doc-back-matter-mix;)* )"                >


<!--                    BACK MATTER                                -->
<!--                    Ancillary or supporting material not included
                        as part of the main textual content of a
                        journal article, for example appendices and
                        acknowledgments.
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/0.4/index.html?elem=back
                                                                   -->
<!ELEMENT  back         %back-model;                                 >


<!-- ============================================================= -->
<!--                    SUBARTICLE                                 -->
<!-- ============================================================= -->


<!--                    SUBARTICLE MODEL                           -->
<!--                    Content model for the <sub-article> element
                                                                   -->
<!ENTITY % sub-article-model
                        "( (front | front-stub), body?, back?,
                           floats-group?,
                           (sub-article* | response*) )"             >


<!--                    SUBARTICLE                                 -->
<!--                    An article that is completely contained
                        inside another article. Both the article and
                        the subarticle have their own metadata.
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/0.4/index.html?elem=sub-article
                                                                   -->
<!ELEMENT  sub-article  %sub-article-model;                          >
<!ATTLIST  sub-article
             %sub-article-atts;                                      >


<!--                    FRONT MODEL STUB                           -->
<!--                    Content model for the <front-stub> element,
                        a reduced metadata set for use in
                        sub-articles and responses.                -->
<!ENTITY % front-stub-model
                        "(article-id*, article-categories?,
                         title-group?,
                         (%contrib-group.class; |
                          %aff-alternatives.class; | %x.class;)*,
                         author-notes?, pub-date*,
                         volume?, volume-id*, volume-series?,
                         issue?, issue-id*, issue-title*,
                         issue-sponsor*, issue-part?, isbn*,
                         supplement?,
                         ( ( (fpage, lpage?)?, page-range?) |
                           elocation-id )?,
                         (%address-link.class; | product |
                          supplementary-material)*,
                         history?, permissions?, self-uri*,
                         related-article*, abstract*,
                         trans-abstract*, kwd-group*,
                         funding-group*, conference*, counts?,
                         custom-meta-group?)"                        >


<!--                    STUB FRONT METADATA                        -->
<!--                    A reduced metadata set for use in
                        sub-articles and responses, which will
                        inherit metadata not defined in the stub
                        from the enclosing article
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/0.4/index.html?elem=front-stub
                                                                   -->
<!ELEMENT  front-stub   %front-stub-model;                           >


<!-- ============================================================= -->
<!--                    RESPONSE ELEMENTS                          -->
<!-- ============================================================= -->


<!--                    RESPONSE                                   -->
<!--                    Reply, response, or commentary concerning the
                        journal article.
                        Details at:
                        http://jats.nlm.nih.gov/archiving/tag-library/0.4/index.html?elem=response
                                                                   -->
<!ELEMENT  response     %article-short-model;                        >
<!ATTLIST  response
             %response-atts;                                         >


<!-- ================== End Journal Archiving and Interchange DTD  -->
