articleauthoring/1.0/rng/JATS-articleauthcustom-models1.ent.rng

<?xml version="1.0" encoding="UTF-8"?>
<!-- ============================================================= -->
<!-- MODULE:    Article Authoring DTD Over-ride Content and -->
<!-- Attribute Module -->
<!-- VERSION:   ANSI/NISO JATS Version 1.0 (Z39.96-2012) -->
<!-- DATE:      Feb 2008 -->
<!---->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- PUBLIC DOCUMENT TYPE DEFINITION -->
<!-- TYPICAL INVOCATION -->
<!--
  "-//NLM//DTD JATS (Z39.96) Article Authoring DTD Over-ride Content and Attribute Module v3.0 20080202//EN"
  Delivered as file "JATS-articleauthcustom-models1.ent"
-->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- SYSTEM:     Article Authoring DTD of the JATS DTD Suite -->
<!---->
<!-- PURPOSE:    To declare the Parameter Entities (PEs) used to -->
<!-- over-ride the content models, parts of content -->
<!-- models, or attribute lists of the JATS DTD Suite -->
<!---->
<!-- Or-groups within models should use mixes or -->
<!-- classes rather than name elements directly. -->
<!---->
<!-- Note: Since PEs must be declared before they -->
<!-- are used, this module must be called before the -->
<!-- content modules that declare elements. -->
<!---->
<!-- TAG SET SPONSOR -->
<!-- National Center for Biotechnology -->
<!-- Information (NCBI) -->
<!-- National Library of Medicine (NLM) -->
<!---->
<!-- CREATED FOR: -->
<!-- This DTD was created from the JATS DTD Suite. -->
<!-- Authors, digital archives, and publishers may -->
<!-- use the DTD as is for markup of journal -->
<!-- literature or related material for archiving -->
<!-- and transferring such material between archives -->
<!-- or create a custom XML DTD from the Suite for -->
<!-- these purposes. -->
<!---->
<!-- This DTD is in the public domain. An organization -->
<!-- that wishes to create its own DTD from the suite -->
<!-- may do so without permission from NLM. -->
<!---->
<!-- The suite has been set up to be extended using a -->
<!-- new DTD file and a new DTD-specific customization -->
<!-- module to redefine the many Parameter Entities. -->
<!-- Do not modify the suite directly or redistribute -->
<!-- modified versions of the suite. -->
<!---->
<!-- In the interest of maintaining consistency and -->
<!-- clarity for potential users, NLM requests: -->
<!---->
<!-- 1. If you create a DTD from the JATS DTD Suite -->
<!-- and intend to stay compatible with the suite, -->
<!-- then please include the following statement -->
<!-- as a comment in all of your DTD modules: -->
<!-- "Created from, and fully compatible with, -->
<!-- the ANSI/NISO Z39.96 Journal Article Tag -->
<!-- Suite (JATS)." -->
<!---->
<!-- 2. If you alter one or more modules of the suite, -->
<!-- then please rename your version and all its -->
<!-- modules to avoid any confusion with the -->
<!-- original suite. Also, please include the -->
<!-- following statement as a comment in all your -->
<!-- DTD modules: -->
<!-- "Based in part on, but not fully compatible -->
<!-- with, the ANSI/NISO Z39.96 Journal Article -->
<!-- Tag Suite (JATS)." -->
<!---->
<!-- ORIGINAL CREATION DATE: -->
<!-- June 2005 -->
<!---->
<!-- CREATED BY: Mulberry Technologies, Inc. for the NISO Z39.96 -->
<!-- Working Group. Mulberry Technologies was -->
<!-- supported by National Center for Biotechnology -->
<!-- Information (NCBI), a center of the US National -->
<!-- Library of Medicine (NLM). -->
<!---->
<!-- The Article Authoring DTD is built from the -->
<!-- Archiving and Interchange DTD Suite. -->
<!---->
<!-- Suggestions for refinements and enhancements to -->
<!-- this DTD should be sent in email to: -->
<!-- jats@ncbi.nlm.nih.gov -->
<!-- ============================================================= -->
<!-- ============================================================= -->
<!-- DTD VERSION/CHANGE HISTORY -->
<!-- ============================================================= -->
<!--
  
  Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)
  
  
       =============================================================
       NISO JATS Version 1.0             (DAL/BTU) v1.0 (2012-xx-xx)
  
       ANSI/NISO Z39.96-2012 (Version 1.0) 
  
       Details concerning ANSI/NISO Z39.96-2012 JATS-based DTDs, XSDs, 
       RNGs and supporting documentation are available at
             http://jats.nlm.nih.gov/1.0/
  
   13. RELATED OBJECT - Added <related-object> everywhere
       <related-article> was used, including inside 
       <article-meta> using article-meta-model.
  
   12. CONTRIBUTOR MODEL - Added "contrib-id.class" to the beginning
       at the <contrib> model, to hold identifiers for people,
       such as publishers-specific IDs, ORCIDs, and JST and NII 
       identifiers.
  
   11. STANDARDS ORGANIZATION - Added std-organization-elements
       to reduce what was allowed in the names of standards bodies.
  
   10. PARAGRPH PARAMETER ENTITY SYNTAX CHANGE (no models changed)
       Fixed content models that were stated as "p*", "p+". and
       "sec*" to use the %just-para.class; and %sec.class; classes. 
       Element models that were changed include:
        - abstract
        - ack
        - app-group
        - disp-quote-model
        - glossary
        - ref-list
  
    9. Updated the public identifier to "v1.0 20120330//EN", 
       modified the formal public identifier to include "JATS (Z39.96)",
       and the filename as delivered to include "JATS" and the
       new version number "1".
  
       =============================================================
       Version 0.4                       (DAL/BTU) v0.4 (2011-01-31)
  
       This Tag Set is in the process of becoming a NISO standard.
       The version numbers are starting over from 0.4", as a Trial
       Use Draft, to be made into "Version 1.0" when the Tag Suite 
       becomes a NISO standard. Thus, the version number that would
       have been "NLM Version 3.1 Draft" has become NISO JATS
       "Version 0.4".
  
       Details on NISO Trial Use Draft Version 0.4 are available at
             http://jats.nlm.nih.gov/JATS-0.4.
  
    8. Updated the DTD-version attribute to "0.4" 
  
    7. Updated the public identifier to "v0.4 20110131", 
       modified the formal public identifier to include "JATS (Z39.96)",
       and the filename as delivered to include "JATS" and the
       new version number "0".
             http://jats.nlm.nih.gov/0.4.
  
    6. KEYWORD GROUP - Made <kwd-group> repeatable inside
       <article-meta> by modifying %article-meta-model;
  
    5. MEDIA - In 3.0 <graphic> and <media> used the same model,
       defined by %graphic-model;. In 0.4, %media-model; was added to
       separate the redefinition possibilities. Since Authoring had
       redefined %graphic-model;, the same redefinition was necessary
       for <media> through %media-model;.
  
    4. INITIALS - Removed the attribute over-ride for <surname> and
       <given-names> to allow the use of @initials.
  
    3. PERSON-GROUP - Became a mixed-content model, so the parameter
       entity %person-group-model: was changed to
       %person-group-elements;, which will be mixed with #PCDATA
       as defined in references.ent. The PE person-group-model has
       been retained in references.ent for compatibility, but has been
       set to the mixed model using person-group-elements.
  
    2. @SPECIFIC-USE and @XML:LANG - Added the @specific-use
       to the following over-rides:
        - fn through fn-atts (@specific-use only; @xml:lang already)
        - inline-graphic-atts through inline-graphic-atts (both)
        - list through list-atts (@xml:lang only; @specific-use already)
        - person-group through person-group-atts (both
        - underline through underline-atts (both)
  
       =============================================================
       Version 3.0                       (DAL/BTU) v3.0 (2007-10-31)
  
       Version 3.0 is the first non-backward-compatible release.
       In addition to the usual incremental changes, some
       elements and attributes have been renamed and/or remodeled
       to better meet user needs and to increase tag set consistency.
       All module change histories are available through the Tag Suite
       web site at http://dtd.nlm.nih.gov.
  
       Details on version 3.0 are available at
             http://dtd.nlm.nih.gov/3.0.
  
    1. Updated public identifier to "v3.0 20080202//EN"
-->
<!-- ============================================================= -->
<!-- INLINE MIXES TO OVER-RIDE CONTENT MODELS -->
<!--                     (ELEMENTS TO BE ADDED TO #PCDATA IN MODELS) -->
<!-- ============================================================= -->
<!-- ADDRESS LINE ELEMENTS -->
<!--                     Elements for use in the <addr-line> element -->
<grammar xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <define name="addr-line-elements">
    <choice>
      <ref name="rendition-plus"/>
      <ref name="address-line.class"/>
    </choice>
  </define>
  <!-- AFFILIATION ELEMENTS -->
  <!--
    Elements for use in the <aff> element
    Removed <label>
  -->
  <define name="aff-elements">
    <choice>
      <ref name="address.class"/>
      <ref name="address-link.class"/>
      <ref name="break.class"/>
      <ref name="emphasis.class"/>
      <ref name="simple-link.class"/>
      <ref name="subsup.class"/>
    </choice>
  </define>
  <!-- AWARD-ID ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <award-id>
  -->
  <define name="award-id-elements">
    <notAllowed/>
  </define>
  <!-- CHEMICAL STRUCTURE ELEMENTS -->
  <!--
    Those elements that may mix with the data
    characters inside a Chemical Structure
    <chem-struct>
  -->
  <define name="chem-struct-elements">
    <choice>
      <ref name="access.class"/>
      <ref name="address-link.class"/>
      <ref name="break.class"/>
      <ref name="emphasis.class"/>
      <ref name="id.class"/>
      <ref name="list.class"/>
      <ref name="simple-display.class"/>
      <ref name="simple-link.class"/>
      <ref name="subsup.class"/>
    </choice>
  </define>
  <!-- CITATION ELEMENTS -->
  <!--
    Content for both types of citation. These
    elements may be mixed with #PCDATA in the
    <mixed-citation> element (in which all
    punctuation and spacing are left intact), and
    they also constitute the choices that can be
    used to form the all-element-content of the
    <element-citation> element (in which
    punctuation and spacing are removed).
    Design Note: All inline mixes begin with an
    OR bar.
  -->
  <define name="citation-elements">
    <choice>
      <ref name="emphasis.class"/>
      <ref name="inline-display.class"/>
      <ref name="inline-math.class"/>
      <ref name="phrase.class"/>
      <ref name="references.class"/>
      <ref name="subsup.class"/>
    </choice>
  </define>
  <!-- COLLABORATIVE (GROUP) AUTHOR ELEMENTS -->
  <!--
    Elements for use in the <collab> element
    Design Note: All inline mixes begin with an
    OR bar, but since %rendition-plus; is an
    inline mix, the OR bar is already there.
  -->
  <define name="collab-elements">
    <choice>
      <ref name="rendition-plus"/>
      <ref name="address.class"/>
      <ref name="contrib-info.class"/>
    </choice>
  </define>
  <!-- COMMENT ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the Comment in a Citation <comment> element.
    Design Note: All inline mixes begin with an
    OR bar, but since %simple-phrase; is an
    inline mix, the OR bar is already there.
  -->
  <define name="comment-elements">
    <choice>
      <ref name="address-link.class"/>
      <ref name="article-link.class"/>
      <ref name="emphasis.class"/>
      <ref name="inline-display.class"/>
      <ref name="inline-math.class"/>
      <ref name="phrase.class"/>
      <ref name="subsup.class"/>
    </choice>
  </define>
  <!-- CONFERENCE ACRONYM ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the conference acronym.
    Design Note: All inline mixes begin with an
    OR bar, but since %simple-text; is an online
    mix, the OR bar is already there.
  -->
  <define name="conf-acronym-elements">
    <notAllowed/>
  </define>
  <!-- CONFERENCE LOCATION ELEMENTS -->
  <!--
    Elements for use in the <conf-loc> element
    Removed %simple-text;
  -->
  <define name="conf-loc-elements">
    <notAllowed/>
  </define>
  <!-- CONFERENCE NAME ELEMENTS -->
  <!--
    Elements for use in the <conf-name> element.
    Removed %simple-text;
  -->
  <define name="conf-name-elements">
    <notAllowed/>
  </define>
  <!-- CONFERENCE NUMBER ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the conference number.
    Design Note: All inline mixes begin with an
    OR bar, but since %simple-text; is an inline
    mix, the OR bar is already there.
  -->
  <define name="conf-num-elements">
    <notAllowed/>
  </define>
  <!-- CONFERENCE SPONSOR  ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the conference sponsor.
  -->
  <define name="conf-sponsor-elements">
    <notAllowed/>
  </define>
  <!-- CORRESPONDENCE INFORMATION ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the correspondence information.
  -->
  <define name="corresp-elements">
    <choice>
      <ref name="address.class"/>
      <ref name="address-link.class"/>
      <ref name="emphasis.class"/>
      <ref name="subsup.class"/>
    </choice>
  </define>
  <!-- DEGREE(S) ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    <degrees>
  -->
  <define name="degrees-elements">
    <notAllowed/>
  </define>
  <!-- FORMULA, DISPLAY ELEMENTS -->
  <!--
    Elements for use mixed with #PCDATA within
    the <disp-formula> element
  -->
  <define name="disp-formula-elements">
    <choice>
      <ref name="access.class"/>
      <ref name="address-link.class"/>
      <ref name="break.class"/>
      <ref name="emphasis.class"/>
      <ref name="display-back-matter.class"/>
      <ref name="inline-display.class"/>
      <ref name="inline-math.class"/>
      <ref name="label.class"/>
      <ref name="math.class"/>
      <ref name="simple-display.class"/>
      <ref name="subsup.class"/>
    </choice>
  </define>
  <!-- EDITION ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    <edition>
  -->
  <define name="edition-elements">
    <notAllowed/>
  </define>
  <!-- FAX NUMBER ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <fax>
  -->
  <define name="fax-elements">
    <notAllowed/>
  </define>
  <!-- FUNDING-SOURCE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <funding-source>
  -->
  <define name="funding-source-elements">
    <notAllowed/>
  </define>
  <!-- GIVEN (FIRST) NAMES ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <given-names>
  -->
  <define name="given-names-elements">
    <notAllowed/>
  </define>
  <!-- INSTITUTION NAME ELEMENTS -->
  <!--
    Elements for use in the <institution>
    element
  -->
  <define name="institution-elements">
    <ref name="subsup.class"/>
  </define>
  <!-- ISSUE TITLE ELEMENTS -->
  <!--
    Elements for use with data characters inside
    the model for the <issue> element
  -->
  <define name="issue-elements">
    <notAllowed/>
  </define>
  <!-- KEYWORD CONTENT ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a keyword <kwd>.
  -->
  <define name="kwd-elements">
    <choice>
      <ref name="emphasis.class"/>
      <ref name="phrase.class"/>
      <ref name="subsup.class"/>
    </choice>
  </define>
  <!-- LABEL ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <label> element
  -->
  <define name="label-elements">
    <notAllowed/>
  </define>
  <!-- PATENT NUMBER ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    <patent>
  -->
  <define name="patent-elements">
    <notAllowed/>
  </define>
  <!-- PERSON GROUP MODEL -->
  <!-- Content model for the <person-group> element -->
  <define name="person-group-elements">
    <choice>
      <ref name="name.class"/>
      <ref name="person-group-info.class"/>
      <ref name="string-name.class"/>
    </choice>
  </define>
  <!-- PHONE NUMBER ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <phone number>
  -->
  <define name="phone-elements">
    <notAllowed/>
  </define>
  <!-- PREFIX ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <prefix>
  -->
  <define name="prefix-elements">
    <notAllowed/>
  </define>
  <!-- PREFORMATTED TEXT ELEMENTS -->
  <!--
    Elements that may be used, along with data
    characters, inside the content model for the
    <preformat> element, in which white space,
    such as tabs, line feeds, and spaces will
    be preserved
  -->
  <define name="preformat-elements">
    <choice>
      <ref name="access.class"/>
      <ref name="address-link.class"/>
      <ref name="display-back-matter.class"/>
      <ref name="emphasis.class"/>
      <ref name="phrase.class"/>
      <ref name="subsup.class"/>
    </choice>
  </define>
  <!-- PRODUCT ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    the <product> element
  -->
  <define name="product-elements">
    <choice>
      <ref name="article-link.class"/>
      <ref name="emphasis.class"/>
      <ref name="inline-display.class"/>
      <ref name="inline-math.class"/>
      <ref name="phrase.class"/>
      <ref name="price.class"/>
      <ref name="references.class"/>
      <ref name="simple-link.class"/>
      <ref name="subsup.class"/>
    </choice>
  </define>
  <!-- PUBLISHER'S LOCATION ELEMENTS -->
  <!--
    Elements for use in the Publisher Location
    <publisher-loc> element
  -->
  <define name="publisher-loc-elements">
    <notAllowed/>
  </define>
  <!-- PUBLISHER'S NAME ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <publisher-name>
  -->
  <define name="publisher-name-elements">
    <notAllowed/>
  </define>
  <!-- ROLE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <role>
    Design Note: All inline mixes begin with an
    OR bar; since %rendition-plus; is an
    inline mix, the OR bar is already there.
  -->
  <define name="role-elements">
    <notAllowed/>
  </define>
  <!-- SUFFIX ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <suffix>
  -->
  <define name="suffix-elements">
    <notAllowed/>
  </define>
  <!-- SOURCE ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <source>.
  -->
  <define name="source-elements">
    <choice>
      <ref name="emphasis.class"/>
      <ref name="address-link.class"/>
      <ref name="subsup.class"/>
    </choice>
  </define>
  <!-- STANDARDS ORGANIZATION ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    <std-organization>.
    Removed emphasis.class.
  -->
  <define name="std-organization-elements">
    <ref name="subsup.class"/>
  </define>
  <!-- SURNAME ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <surname>
  -->
  <define name="surname-elements">
    <notAllowed/>
  </define>
  <!-- DEFINITION LIST: TERM ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <term>.
    Design Note: All inline mixes begin with an
    OR bar, but since %simple-phrase; is an
    inline mix, the OR bar is already there.
  -->
  <define name="term-elements">
    <choice>
      <ref name="address-link.class"/>
      <ref name="article-link.class"/>
      <ref name="emphasis.class"/>
      <ref name="inline-display.class"/>
      <ref name="inline-math.class"/>
      <ref name="phrase.class"/>
      <ref name="simple-link.class"/>
      <ref name="subsup.class"/>
    </choice>
  </define>
  <!-- URI ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <uri>
  -->
  <define name="uri-elements">
    <notAllowed/>
  </define>
  <!-- VOLUME NUMBER ELEMENTS -->
  <!--
    The elements that can be included along with
    data characters inside the content model of
    a <volume>
  -->
  <define name="volume-elements">
    <notAllowed/>
  </define>
  <!-- ============================================================= -->
  <!-- OVER-RIDES USED IN SHARED CONTENT MODELS -->
  <!-- ============================================================= -->
  <!-- DISPLAY ELEMENT BACK MATTER SEQUENCE -->
  <!--
    Miscellaneous stuff at the end of a display
    element such as a figure or a boxed text
    element such as a sidebar
  -->
  <define name="display-back-matter">
    <optional>
      <ref name="attrib"/>
    </optional>
    <optional>
      <ref name="permissions"/>
    </optional>
  </define>
  <!-- ============================================================= -->
  <!-- OVER-RIDES OF SHARED CONTENT MODELS (FULL) -->
  <!-- ============================================================= -->
  <!-- CONTENT MODEL FOR A STRUCTURAL SECTION -->
  <!--
    The model for a section that requires that a
    section title be present, used for elements
    such as Section and Appendix.
  -->
  <define name="sec-model">
    <ref name="title"/>
    <zeroOrMore>
      <ref name="para-level"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="sec-level"/>
    </zeroOrMore>
  </define>
  <!-- CONTENT MODEL FOR AN UNTITLED SECTION -->
  <!--
    The model for a section-like structure that
    may or may not have an initial title
  -->
  <define name="sec-opt-title-model">
    <optional>
      <ref name="title"/>
    </optional>
    <zeroOrMore>
      <ref name="para-level"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="sec-level"/>
    </zeroOrMore>
  </define>
  <!-- ============================================================= -->
  <!-- OVER-RIDES OF CONTENT MODELS (FULL MODELS) -->
  <!-- ============================================================= -->
  <!-- ABSTRACT MODEL -->
  <!--
    Abstracts may contain one or more paragraphs
    (as a typical abstract does) or titled
    sections, as is done in many physics
    articles.
  -->
  <define name="abstract-model">
    <optional>
      <ref name="title"/>
    </optional>
    <zeroOrMore>
      <ref name="just-para.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="sec.class"/>
    </zeroOrMore>
  </define>
  <!-- ACKNOWLEDGMENTS MODEL -->
  <!--
    Content model for the <ack> element
    Deleted optional sections and closing
    reference list
  -->
  <define name="ack-model">
    <optional>
      <ref name="title"/>
    </optional>
    <zeroOrMore>
      <ref name="just-para.class"/>
    </zeroOrMore>
  </define>
  <!-- ANONYMOUS MODEL -->
  <!--
    Content model for the element <anonymous>.
    When present, it is used to generate the text
    "anonymous" or "anon.", etc.
  -->
  <define name="anonymous-model">
    <empty/>
  </define>
  <!-- ADDRESS MODEL -->
  <!-- Content model for the <address> element -->
  <define name="address-model">
    <optional>
      <ref name="institution"/>
    </optional>
    <zeroOrMore>
      <ref name="addr-line"/>
    </zeroOrMore>
    <ref name="country"/>
    <zeroOrMore>
      <ref name="phone"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="fax"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="email"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="ext-link"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="uri"/>
    </zeroOrMore>
  </define>
  <!-- AFFILIATION MODEL -->
  <!-- Content model for the <aff> element -->
  <!-- APPENDIX GROUP MODEL -->
  <!-- Content model for the <app-group> element -->
  <define name="app-group-model">
    <optional>
      <ref name="title"/>
    </optional>
    <zeroOrMore>
      <ref name="just-para.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="app.class"/>
    </zeroOrMore>
  </define>
  <!-- ARTICLE METADATA MODEL -->
  <!--
    Full content model for the metadata that is
    specific to the article.
  -->
  <define name="article-meta-model">
    <ref name="title-group"/>
    <ref name="contrib-group"/>
    <zeroOrMore>
      <choice>
        <ref name="product"/>
        <ref name="supplementary-material"/>
      </choice>
    </zeroOrMore>
    <optional>
      <ref name="permissions"/>
    </optional>
    <zeroOrMore>
      <ref name="self-uri"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="related-article.class"/>
    </zeroOrMore>
    <oneOrMore>
      <ref name="abstract"/>
    </oneOrMore>
    <zeroOrMore>
      <ref name="kwd-group"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="funding-group"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="conference"/>
    </zeroOrMore>
  </define>
  <!-- BOXED TEXT MODEL -->
  <!--
    Complete content model for the boxed text
    element which is used for sidebars,
    marginalia, and other text that is outside
    the narrative flow.
  -->
  <define name="boxed-text-model">
    <zeroOrMore>
      <ref name="id.class"/>
    </zeroOrMore>
    <optional>
      <ref name="caption"/>
    </optional>
    <zeroOrMore>
      <ref name="para-level"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="sec-level"/>
    </zeroOrMore>
    <ref name="display-back-matter"/>
  </define>
  <!-- CHEMICAL STRUCTURE WRAPPER MODEL -->
  <!--
    Content model for the Chemical Structure
    Wrapper <chem-struct-wrap> element
  -->
  <define name="chem-struct-wrap-model">
    <zeroOrMore>
      <ref name="id.class"/>
    </zeroOrMore>
    <optional>
      <ref name="caption.class"/>
    </optional>
    <zeroOrMore>
      <ref name="access.class"/>
    </zeroOrMore>
    <oneOrMore>
      <ref name="inside-chem-struct-wrap.class"/>
    </oneOrMore>
    <ref name="display-back-matter"/>
  </define>
  <!-- CONFERENCE MODEL -->
  <!--
    The element components that describe
    of a conference
  -->
  <define name="conference-model">
    <ref name="conf-date"/>
    <oneOrMore>
      <choice>
        <ref name="conf-name"/>
        <ref name="conf-acronym"/>
      </choice>
    </oneOrMore>
    <optional>
      <ref name="conf-num"/>
    </optional>
    <optional>
      <ref name="conf-loc"/>
    </optional>
    <zeroOrMore>
      <ref name="conf-sponsor"/>
    </zeroOrMore>
    <optional>
      <ref name="conf-theme"/>
    </optional>
  </define>
  <!-- CONTRIBUTOR MODEL -->
  <!-- Content model for the <contrib> element -->
  <define name="contrib-model">
    <zeroOrMore>
      <ref name="contrib-id.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="name.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="degree.class"/>
    </zeroOrMore>
    <optional>
      <ref name="role"/>
    </optional>
    <optional>
      <ref name="on-behalf-of"/>
    </optional>
    <zeroOrMore>
      <ref name="aff-alternatives.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="address"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="email"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="ext-link"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="uri"/>
    </zeroOrMore>
    <optional>
      <ref name="bio"/>
    </optional>
    <optional>
      <ref name="author-comment"/>
    </optional>
  </define>
  <!-- CONTRIBUTOR GROUP MODEL -->
  <!--
    Content model for the <contrib-group>
    element
  -->
  <define name="contrib-group-model">
    <oneOrMore>
      <ref name="contrib.class"/>
    </oneOrMore>
  </define>
  <!-- DATE ELEMENTS MODEL -->
  <!--
    The content models for elements that describe
    dates, such as Publication Date <pub-date> and
    History Dates <date>.  The <string-date>
    element holds dates for which months and
    years are not given, for example "first
    quarter", "spring", etc.
  -->
  <define name="date-model">
    <optional>
      <choice>
        <group>
          <optional>
            <ref name="day"/>
          </optional>
          <optional>
            <ref name="month"/>
          </optional>
        </group>
        <ref name="season"/>
      </choice>
    </optional>
    <ref name="year"/>
  </define>
  <!-- DEFINITION LIST MODEL -->
  <!-- Content model for the <def-list> element -->
  <define name="def-list-model">
    <optional>
      <ref name="title"/>
    </optional>
    <optional>
      <ref name="term-head"/>
    </optional>
    <optional>
      <ref name="def-head"/>
    </optional>
    <oneOrMore>
      <ref name="def-item"/>
    </oneOrMore>
  </define>
  <!-- DEFINITION LIST: DEFINITION ITEM ELEMENTS -->
  <!--
    The elements that can be included inside
    the content model of a <def-item>
  -->
  <define name="def-item-model">
    <ref name="term"/>
    <zeroOrMore>
      <ref name="def"/>
    </zeroOrMore>
  </define>
  <!-- QUOTE, DISPLAYED MODEL -->
  <!--                     Content model for the Display Quote element -->
  <define name="disp-quote-model">
    <optional>
      <ref name="title"/>
    </optional>
    <oneOrMore>
      <ref name="just-para.class"/>
    </oneOrMore>
    <ref name="display-back-matter"/>
  </define>
  <!-- FIGURE GROUP MODEL -->
  <!-- Content model for a Figure Group element -->
  <define name="fig-group-model">
    <optional>
      <ref name="caption.class"/>
    </optional>
    <zeroOrMore>
      <choice>
        <ref name="access.class"/>
        <ref name="address-link.class"/>
      </choice>
    </zeroOrMore>
    <zeroOrMore>
      <choice>
        <ref name="fig-display.class"/>
        <ref name="just-base-display.class"/>
      </choice>
    </zeroOrMore>
  </define>
  <!-- FIGURE-LIKE CONTENT MODEL -->
  <!--
    Content model for the Figure element and any
    similarly structured elements
  -->
  <define name="fig-model">
    <zeroOrMore>
      <ref name="id.class"/>
    </zeroOrMore>
    <optional>
      <ref name="caption.class"/>
    </optional>
    <zeroOrMore>
      <ref name="access.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <choice>
        <ref name="block-math.class"/>
        <ref name="chem-struct-wrap.class"/>
        <ref name="intable-para.class"/>
        <ref name="just-table.class"/>
        <ref name="just-para.class"/>
        <ref name="list.class"/>
        <ref name="simple-display.class"/>
      </choice>
    </zeroOrMore>
    <ref name="display-back-matter"/>
  </define>
  <!-- FOOTNOTE GROUP MODEL -->
  <!-- Content model for the <fn-group> element -->
  <define name="fn-group-model">
    <optional>
      <ref name="title"/>
    </optional>
    <oneOrMore>
      <ref name="fn-link.class"/>
    </oneOrMore>
  </define>
  <!-- FOOTNOTE MODEL -->
  <!-- Content model for Footnote <fn> -->
  <define name="fn-model">
    <oneOrMore>
      <ref name="just-para.class"/>
    </oneOrMore>
  </define>
  <!-- GLOSSARY MODEL -->
  <!-- Content model for the <glossary> element -->
  <define name="glossary-model">
    <optional>
      <ref name="title"/>
    </optional>
    <zeroOrMore>
      <ref name="just-para.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="def-list"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="glossary"/>
    </zeroOrMore>
  </define>
  <!-- GRAPHIC MODEL -->
  <!-- Content model for the <graphic> element -->
  <define name="graphic-model">
    <optional>
      <ref name="id.class"/>
    </optional>
    <zeroOrMore>
      <ref name="access.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="display-back-matter"/>
    </zeroOrMore>
  </define>
  <!-- KEYWORD GROUP MODEL -->
  <!-- Content model for a <kwd-group> element -->
  <define name="kwd-group-model">
    <optional>
      <ref name="title"/>
    </optional>
    <oneOrMore>
      <ref name="kwd.class"/>
    </oneOrMore>
  </define>
  <!-- LIST ITEM ELEMENTS -->
  <!--
    The elements that can be included inside
    the content model of a <list-item>
  -->
  <define name="list-item-model">
    <oneOrMore>
      <ref name="just-para.class"/>
    </oneOrMore>
  </define>
  <!-- LIST MODEL -->
  <!-- Content model for the <list> element -->
  <define name="list-model">
    <optional>
      <ref name="title"/>
    </optional>
    <oneOrMore>
      <ref name="list-item"/>
    </oneOrMore>
  </define>
  <!-- MEDIA MODEL -->
  <!-- Content model for the <media> element -->
  <define name="media-model">
    <optional>
      <ref name="id.class"/>
    </optional>
    <zeroOrMore>
      <ref name="access.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="display-back-matter"/>
    </zeroOrMore>
  </define>
  <!-- REFERENCE LIST MODEL -->
  <!-- Content model for the <ref-list> element -->
  <define name="ref-list-model">
    <optional>
      <ref name="title"/>
    </optional>
    <zeroOrMore>
      <ref name="just-para.class"/>
    </zeroOrMore>
    <oneOrMore>
      <ref name="ref"/>
    </oneOrMore>
  </define>
  <!--
    REFERENCE ITEM MODEL
    Model for the <ref> element
  -->
  <define name="ref-model">
    <oneOrMore>
      <ref name="citation.class"/>
    </oneOrMore>
  </define>
  <!-- SUPPLEMENTARY MATERIAL MODEL -->
  <!--
    Content model for the
    <supplementary-material> element
  -->
  <define name="supplementary-material-model">
    <zeroOrMore>
      <ref name="id.class"/>
    </zeroOrMore>
    <optional>
      <ref name="caption.class"/>
    </optional>
    <zeroOrMore>
      <choice>
        <ref name="access.class"/>
        <ref name="address-link.class"/>
      </choice>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="just-para.class"/>
    </zeroOrMore>
    <ref name="display-back-matter"/>
  </define>
  <!-- TABLE WRAPPER CONTENT MODEL -->
  <!--
    Content model for the container element that
    surrounds the standard table models for row
    and columns.
  -->
  <define name="table-wrap-model">
    <zeroOrMore>
      <ref name="id.class"/>
    </zeroOrMore>
    <optional>
      <ref name="caption.class"/>
    </optional>
    <zeroOrMore>
      <ref name="access.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="inside-table-wrap"/>
    </zeroOrMore>
    <optional>
      <ref name="table-foot.class"/>
    </optional>
    <ref name="display-back-matter"/>
  </define>
  <!-- TITLE GROUP MODEL -->
  <!--                     Content model for the <title-group> element -->
  <define name="title-group-model">
    <ref name="article-title"/>
    <optional>
      <ref name="subtitle"/>
    </optional>
  </define>
  <!-- TRANSLATED ABSTRACT MODEL -->
  <!-- Content model for an <trans-abstract> element. -->
  <define name="trans-abstract-model">
    <optional>
      <ref name="title"/>
    </optional>
    <zeroOrMore>
      <ref name="just-para.class"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="sec.class"/>
    </zeroOrMore>
  </define>
  <!-- VERSE GROUP MODEL -->
  <!--                     Content model for the <verse-group> element -->
  <define name="verse-group-model">
    <optional>
      <ref name="title"/>
    </optional>
    <optional>
      <ref name="subtitle"/>
    </optional>
    <oneOrMore>
      <ref name="verse-line"/>
    </oneOrMore>
    <ref name="display-back-matter"/>
  </define>
  <!-- ============================================================= -->
  <!-- OVER-RIDES OF ATTRIBUTE VALUES -->
  <!-- ============================================================= -->
  <!-- FOOTNOTE TYPE VALUES -->
  <!--
    Used to mark the semantics of the footnote,
    what information does this footnote convey.
  -->
  <define name="fn-types">
    <choice>
      <value>abbr</value>
      <value>com</value>
      <value>con</value>
      <value>conflict</value>
      <value>corresp</value>
      <value>current-aff</value>
      <value>deceased</value>
      <value>edited-by</value>
      <value>equal</value>
      <value>financial-disclosure</value>
      <value>on-leave</value>
      <value>participating-researchers</value>
      <value>presented-at</value>
      <value>presented-by</value>
      <value>present-address</value>
      <value>previously-at</value>
      <value>study-group-members</value>
      <value>supplementary-material</value>
      <value>supported-by</value>
      <value>other</value>
    </choice>
  </define>
  <!-- LIST PREFIX TYPES -->
  <!--
    Used to request a specific style of prefix
    characters for the items in lists and
    de-lists. Ordered is number or letters,
    bulleted is bullets or other non-ordered
    character, simple has no prefix at all.
  -->
  <define name="list-types">
    <choice>
      <value>bullet</value>
      <value>order</value>
      <value>simple</value>
    </choice>
  </define>
  <!-- CROSS(X)-REFERENCE TYPE VALUES -->
  <!--
    Used to say to what the reference is pointing.
    May be used for type-specific processing or
    validation. Values are, for example:
    Affiliation "aff" and Figure "fig", and
    Bibliographic ref (to a citation.
  -->
  <define name="ref-types">
    <choice>
      <value>aff</value>
      <value>app</value>
      <value>bibr</value>
      <value>boxed-text</value>
      <value>chem</value>
      <value>contrib</value>
      <value>corresp</value>
      <value>disp-formula</value>
      <value>fig</value>
      <value>fn</value>
      <value>kwd</value>
      <value>list</value>
      <value>plate</value>
      <value>scheme</value>
      <value>sec</value>
      <value>statement</value>
      <value>supplementary-material</value>
      <value>table</value>
      <value>table-fn</value>
      <value>other</value>
    </choice>
  </define>
  <!-- ============================================================= -->
  <!-- DUPLICATE ATTRIBUTE DECLARATIONS -->
  <!-- (These are unchanged from the base Suite, -->
  <!--                     but are used in attribute over-rides below) -->
  <!-- ============================================================= -->
  <!-- XLINK LINK ATTRIBUTES -->
  <!--
    Attributes for any element that must be a
    link
  -->
  <define name="link-atts">
    <optional>
      <attribute name="xlink:type">
        <choice>
          <value>simple</value>
        </choice>
      </attribute>
    </optional>
    <attribute name="xlink:href"/>
    <optional>
      <attribute name="xlink:role"/>
    </optional>
    <optional>
      <attribute name="xlink:title"/>
    </optional>
    <optional>
      <attribute name="xlink:show">
        <choice>
          <value>embed</value>
          <value>new</value>
          <value>none</value>
          <value>other</value>
          <value>replace</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="xlink:actuate">
        <choice>
          <value>none</value>
          <value>onLoad</value>
          <value>onRequest</value>
          <value>other</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!-- MIGHT LINK XLINK ATTRIBUTES -->
  <!--
    Attributes for any element that may be a link
    but need not be one
  -->
  <define name="might-link-atts">
    <optional>
      <attribute name="xlink:type">
        <choice>
          <value>simple</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="xlink:href"/>
    </optional>
    <optional>
      <attribute name="xlink:role"/>
    </optional>
    <optional>
      <attribute name="xlink:title"/>
    </optional>
    <optional>
      <attribute name="xlink:show">
        <choice>
          <value>embed</value>
          <value>new</value>
          <value>none</value>
          <value>other</value>
          <value>replace</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="xlink:actuate">
        <choice>
          <value>none</value>
          <value>onLoad</value>
          <value>onRequest</value>
          <value>other</value>
        </choice>
      </attribute>
    </optional>
  </define>
  <!-- ============================================================= -->
  <!-- OVER-RIDES OF ATTRIBUTE LISTS -->
  <!-- ============================================================= -->
  <!-- FOOTNOTE ATTRIBUTES -->
  <!-- Attribute list for Footnote element -->
  <define name="fn-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="fn-type">
        <choice>
          <ref name="fn-types"/>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- INLINE GRAPHIC ATTRIBUTES -->
  <!--
    Attributes for Inline Graphic
    <inline-graphic>
  -->
  <define name="inline-graphic-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="baseline-shift"/>
    </optional>
    <optional>
      <attribute name="mimetype" a:defaultValue="image">
        <value type="string" datatypeLibrary="">image</value>
      </attribute>
    </optional>
    <optional>
      <attribute name="mime-subtype">
        <choice>
          <value>cgm</value>
          <value>gif</value>
          <value>jpeg</value>
          <value>png</value>
          <value>tiff</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
    <ref name="link-atts"/>
  </define>
  <!-- DEFAULT LIST CLASS ATTRIBUTES -->
  <!--
    Default attribute lists to be used for most
    of the types of lists. Used for the <list>
    element and <def-list> element.
  -->
  <define name="list-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="continued-from">
        <data type="IDREF"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="list-type">
        <choice>
          <ref name="list-types"/>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="prefix-word"/>
    </optional>
    <optional>
      <attribute name="list-content"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- PERSON GROUP ATTRIBUTES -->
  <!-- Attributes for the <person-group> element -->
  <define name="person-group-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="person-group-type">
        <choice>
          <value>allauthors</value>
          <value>assignee</value>
          <value>author</value>
          <value>compiler</value>
          <value>director</value>
          <value>editor</value>
          <value>guest-editor</value>
          <value>inventor</value>
          <value>translator</value>
          <value>transed</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- SECTION ATTRIBUTES -->
  <!-- Attributes for the <sec> element -->
  <define name="sec-atts">
    <optional>
      <attribute name="id">
        <data type="ID"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sec-type"/>
    </optional>
    <optional>
      <attribute name="specific-use"/>
    </optional>
    <optional>
      <attribute name="xml:lang">
        <data type="NMTOKEN"/>
      </attribute>
    </optional>
  </define>
  <!-- UNDERLINE ATTRIBUTES -->
  <!-- Attributes for the <underline> element -->
  <define name="underline-atts">
    <optional>
      <attribute name="specific-use"/>
    </optional>
  </define>
</grammar>
<!-- ================== End Authoring Over-ride Content/ATTLIST == -->
